*{box-sizing: border-box;}
body{
  width: 1100px;
  margin: auto;
}
header{

  align-items: center;
  display: flex;
  padding: 20px 100px;
  background-color: #666;
}
header nav {
  display: flex;
width:100%;
justify-content :space-evenly;
}

header nav a{
  text-decoration: none;
 color: #fff;
 font-size: 20px;
}

main{
  width: 960px;
  margin: 30px auto;
}
img{
  width: 100%;
}
main section:nth-child(2){
  display: grid;
  grid-template-columns: auto auto auto;
  gap:30px;
  margin: 30 px 0;
}

main section:nth-child(3){ 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:30px ;
  margin: 30px 0 ;
}
main section:nth-child(3) article h2{
  font-weight: 700;
  font-size: 24px;
}
main section:nth-child(3) article p{
  height: 264px;
  overflow: scroll;
  line-height: 1.5;
 
 }

main section:nth-child(3) article a {
  padding:10px 70px;
  background :#000;
color: #fff;
text-decoration: none;
display: inline-block;
}

footer {
  height: 100px;
  background-color:#666;
}
a:hover {
  color:#000;
}