body {
    width: 1050px;
    align-content: center;
    margin: 50px;   }
.logo-head {
    background-color: rgb(34, 31, 31);
    display: grid;
grid-template-columns: auto auto auto auto auto;
column-gap: normal;
 
}
  .logo-head > nav {
      height: 60px;
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 30px;
    color: aliceblue;
float: right;
margin: 30px;
padding: 30 20;
    ;}
.logo-head > img {
  color: aliceblue;
  margin: 30px;
}
#hero-img{
    float: center 10;
    margin: 20px;
}
.sub-banner{
    display: grid;
    grid-template-columns: auto auto auto;
 
 margin: 20px; 
}

.featuerd{
    display: grid;
    grid-template-columns: auto auto ;
}
.featuerd> img {
  margin: 20px;
}

.featuerd > p {
 margin: 20px;
 text-align: left;
font-size: 50 px;
}

.call{
    border: black;
  
}
 


footer{
    background-color: rgb(151, 129, 129);
    height: 70px;
}

